<!DOCTYPE HTML>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
         <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">
        <title>Check User Status</title>
    </head>
    
    <body>
        <div class="header">
            <div class="headerContent">
                <h1 class="logo">iDonate</h1>
            </div>
            
           
        </div>
        <div class="contentDiv w3-container">
            <h2 class="pageTitle">Check User Status</h2>
            <form class="signUpForm" name="loginForm" action="" method="post">
                <fieldset id="loginInfo" class="signUpFieldsets">
                        <div class="tableRow">
                            <label for="natID">National ID</label>
                            <input type="text" name="natID" id="natID" placeholder="Enter donor's ID..">
                        </div>
                        
                    </fieldset>
                <button type="submit" class="registerBtns">Check</button>
            </form>
        </div>
    </body>
</html>