<!DOCTYPE HTML>

<html>

<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="sweetalert.css" rel="stylesheet" type="text/css">
    <script src="./sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">
    <title>Registration</title>
</head>

<body>
    <div class="header">
        <div class="headerContent">
            <h1 class="logo">iDonate</h1>
        </div>


    </div>
    <div class="contentDiv w3-container">
        <h2 class="pageTitle">Registration</h2>
        <form action="userRegister.html">
            <button href="userRegister.html" id="registerUser" class="registerBtns">Register As a User</button>
        </form>
        <br>
        <form action="hospitalRegister.html">
            <button href="hospitalRegister.html" id="registerHospital" class="registerBtns">Register As a Hospital</button>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="./process.js"></script>
</body>
</html>